package ${config.packageName}.repository;

import ${config.packageName}.domain.${po.getSimpleName()};
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.JpaSpecificationExecutor;

/**
* @website https://eladmin.vip
* @author ${author}
* @date ${date}
**/
public interface ${po.getUpCamelPOName()}Repository extends JpaRepository<${po.getSimpleName()}, ${po.pk.getSimpleName()}>,
 JpaSpecificationExecutor<${po.getSimpleName()}> {

}